/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";

 .notification:not(:last-child){
	margin-bottom: 0;
}

.profile_image {
    border-radius: 50%;
}

.camera-man {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 115px;
    left: 600px;
    width: 50px;
    height: 60px;
}
/*
.main-image {
    height: 680px;
    background-image: url(instagram-logo-3d.png);
    background-repeat: none;
    background-size: contain;
}
*/

.grid {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item {
    list-style: none;
}

.grid-col-4 > .grid-item {
    width: 25%;
}

.image {
    max-width: 100%;
    max-height: 100%;
    width: 200px;
    height: 200px;
}

